.sidebar {
  .title {
    color: #b990d3;
  }

  .nav-custom {
    a {
      color: white;

      &:hover {
        color: rgb(212, 212, 212) !important;
      }
    }

    .dropdown {
      .dropdown-item:active {
        background-color: #ab82c6 !important;
      }
    }
  }

  .dropdown {
    .dropdown-item:active {
      background-color: #ab82c6 !important;
    }
  }
}
